.pageNumbers{
    list-style: none;
    display: flex;
    
}

.pageNumbers li {
padding: 10px;
cursor: pointer;

}

.pageNumbers li button{
cursor: pointer;
border: none;

/* font-size: 1.5rem; */
}

.title{  
color: #1C4BF0;
}
